.usersearch{
    height: 100vh;
    display:flex;
    width: 100%;
    padding-top: 75px;

}

.ussr{
    /* height: 89vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    margin-left: 30vh;
}


.ussr h1{
    font-size: 45px;
    display: flex;
    padding-left: 100px;
}

.ussrboxy{
    display: flex;
    gap: 25px;
    padding-left: 100px;
    
}


.ussrboxy input{
    width: 70vh;
    height: 40px;
    margin-top: 40px;
    background-color: white;
    font-size: 20px;
    font-weight: 560;
    padding-left: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.booky1-table {
    width: 100%;
    margin-top: 20px;
    
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .booky1-table th,
  .booky1-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .booky1-table th {
    background-color: #222222;
    color: white;
  }
  
  .booky1-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .booky1-table tr:hover {
    background-color: #f1f1f1;
  }