.mauthor{
    display: flex;
    height: 89vh;
    width: 100%;
    padding-top: 75px;
}

.mar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-left: 36vh;
    height: 89vh;
    width: 100%;

}
.mar h1{
    font-size: 50px;
}

