.asearch{
    background-color: rgb(249, 249, 249);
    height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 75px;
    
}

.asearch-area{
    
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px;
    height: 89vh;
    width: 100%;
    margin-left: 36vh;
    
}

.asearch-area h1{
    font-size: 45px;
    display: flex;
    padding-left: 100px;
}

.aboxy{
    display: flex;
    gap: 25px;
    padding-left: 100px;
}


.aboxy input{
    width: 70vh;
    height: 40px;
    margin-top: 40px;
    background-color: white;
    font-size: 20px;
    font-weight: 560;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100px;
}

.author-details{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 100px;
}
.author-details h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.author-details p{
    font-size: 20px;
}
.author-details strong{
    width: 10px;
    padding-right: 5px;
}