.search{
    background-color: rgb(249, 249, 249);
    height: 100vh;
    width: 100%;
    display: flex;
    padding-top: 75px;
    
}

.search-area{
    
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-top: 100px;
    width: 100%;
    
}

.search-area h1{
    font-size: 45px;
    display: flex;
    padding-left: 100px;
}

.boxy{
    display: flex;
    gap: 25px;
    padding-left: 100px;
}


.boxy input{
    width: 70vh;
    height: 40px;
    margin-top: 40px;
    background-color: white;
    font-size: 20px;
    font-weight: 560;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.bookys-table {
    /* width: 100%; */
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 40px;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .bookys-table th,
  .bookys-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .bookys-table th {
    background-color: #222222;
    color: white;
  }
  
  .bookys-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .bookys-table tr:hover {
    background-color: #f1f1f1;
  }