.c1 input{
    width: 70vh;
    height: 40px;
    background-color: white;
    font-size: 20px;
    font-weight: 560;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
